<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>adminMongo</title>
    <link rel='stylesheet' type='text/css' href='/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' type='text/css' href='/css/flatly.bootstrap.min.css' />
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/font-awesome/css/font-awesome.min.css' />
    <link rel="stylesheet" type='text/css' href='/css/highlightjs.github.min.css'>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    {{#if paginate}}
    <script src="/js/jquery.bootpag.min.js"></script>
    {{/if}}
    {{#if editor}}
    <script src="/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/toEJSON.js"></script>
    <script src="/js/editor.js"></script>
    {{/if}}
    <script src="/js/adminMongo.js"></script>
    <script src="/js/highlight.min.js"></script>
</head>
<body>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">adminMongo</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/connection_list"><i class="fa fa-plug"></i>&nbsp; Connections</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            {{#if conn_name}}
				<h2 class="text-center banner-heading">
					Database:
					{{#if db_name}}
						<a href="/{{conn_name}}/{{db_name}}">{{db_name}}</a>
					{{else}}
						<span class="text-warning"><i>Not selected</i></span>
					{{/if}}
					/ Collection -
					{{#if coll_name}}
						<span class="text-info">{{coll_name}}</span>
						<button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#collectioName">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
					{{else}}
						<span class="text-warning"><i>Not selected</i></span>
					{{/if}}
				</h2>
            {{/if}}
            {{#if sidebar_list}}
                <div id="sidebar" class="col-lg-2">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-primary">Database Objects</li>
                        {{#if conn_name}}
                            <li class="list-group-item"><i class="fa fa-plug"></i>&nbsp;<a href="/{{conn_name}}">{{conn_name}}</a></li>
                        {{/if}}
                        {{#each sidebar_list}}
                            <li class="list-group-item"><i class="fa fa-database"></i>&nbsp; <a href="/{{../conn_name}}/{{@key}}">{{@key}}</a></li>
                            {{#each this}}
                                <li class="list-group-item coll_indent">&nbsp;&nbsp;&nbsp;<i class="fa fa-table"></i>&nbsp;&nbsp;&nbsp;<a href="/{{../../conn_name}}/{{@../key}}/{{this}}/view">{{this}}</a></li>
                            {{/each}}
                        {{/each}}
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-primary">Connections</li>
                        {{#each conn_list}}
                            <li class="list-group-item"><i class="fa fa-plug"></i>&nbsp;<a href="/{{@key}}">{{@key}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
            {{{body}}}
            <input type="hidden" value="{{coll_count}}" id="coll_count">
            <input type="hidden" value="{{conn_name}}" id="conn_name">
            <input type="hidden" value="{{db_name}}" id="db_name">
            <input type="hidden" value="{{coll_name}}" id="coll_name">
            <input type="hidden" value="{{docs_per_page}}" id="docs_per_page">
            <input type="hidden" value="{{paginate}}" id="to_paginate">
            <input type="hidden" id="export_coll">                   
        </div>
        <!-- Collection Name Modal -->
        <div class="modal fade" id="collectioName" tabindex="-1" role="dialog" aria-labelledby="collectionNameLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="collectionNameLabel">Edit Collection name</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="coll_name_newval" value="{{coll_name}}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success btn-sm" id="coll_name_edit">Save changes</button>
                </div>
                </div>
            </div>
        </div>
        <!-- Collection Name Modal -->
        <!-- Search documents Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="documentSearchLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="collectionNameLabel">Search for documents</h4>
                    <p>BSON types are not supported</p>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Key (Field):</label>
                        <select class="form-control" id="search_key_fields"></select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Value</label>
                        <input type="text" class="form-control" id="search_value_value" placeholder="Value">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success btn-sm pull-right" id="searchModalAction">Search</button>
                </div>
                </div>
            </div>
        </div>
        <!-- Search documents Modal -->
        <!-- Query Modal -->
        <div class="modal fade" id="queryDocuments" tabindex="-1" role="dialog" aria-labelledby="queryDocumentsLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="collectionNameLabel">Query documents</h4>
                        <p>Queries need to be BSON types or Extended JSON formatted</p>
                    </div>
                    <div class="modal-body">
                        <div class="edit_json" id="json">{}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success btn-sm pull-right" id="queryDocumentsAction">Send query</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Query Modal -->
        <!-- Export collection Modal -->
        <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportCollectionLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="collectionNameLabel">Export collection</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="checkbox">
                            <label>
                                <input id="exportExcludeID" type="checkbox"> Exclude "_id" field?
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success btn-sm pull-right" id="exportModalAction">Export</button>
                </div>
                </div>
            </div>
        </div>
        <!-- Export collection Modal -->
    </div>
    <div id="notify_message"></div>
  </body>
</html>
