<div class="col-lg-10">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/{{conn_name}}">{{conn_name}}</a>&nbsp;(connection)</li>
        <li><a href="/{{conn_name}}/{{db_name}}">{{db_name}}</a>&nbsp;(database)</li>
        <li><a href="/{{conn_name}}/{{db_name}}/{{coll_name}}/view">{{coll_name}}</a>&nbsp;(collection)</li>
    </ol>
    <a href="/{{conn_name}}/{{db_name}}/{{coll_name}}/view" class="btn btn-warning btn-sm pull-left action_button">Back</a>
    <button class="btn btn-success btn-sm pull-right action_button" id="submit_json">Add document</button>
    <div class="new_json" id="json">{}</div>
    <input type="hidden" id="edit_request_type" value="insert_doc">
</div>
