<div class="col-lg-10">
	<ol class="breadcrumb">
		<li><a href="{{context}}/">{{__ "Home"}}</a></li>
		<li><a href="{{context}}/{{conn_name}}">{{conn_name}}</a>&nbsp;({{__ "connection"}})</li>
		<li><a href="{{context}}/{{conn_name}}/{{db_name}}">{{db_name}}</a>&nbsp;({{__ "database"}})</li>
		<li><a href="{{context}}/{{conn_name}}/{{db_name}}/{{coll_name}}/view">{{coll_name}}</a>&nbsp;({{__ "collection"}})</li>
	</ol>
	<div class="col-lg-12 no-side-pad">
		<a href="{{context}}/{{conn_name}}/{{db_name}}/{{coll_name}}/view" class="btn btn-warning btn-sm pull-left action_button">{{__ "Back"}}</a>
		<button class="btn btn-success btn-sm pull-right action_button" id="submit_json">{{__ "Save document"}}</button>
	</div>
	<div class="col-lg-12 no-side-pad">
		<div class="edit_json" id="json">{{coll_doc}}</div>
        <input type="hidden" id="edit_request_type" value="edit_doc">
	</div>
</div>