<div class="col-lg-10">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="/{{conn_name}}">{{conn_name}}</a>&nbsp;(connection)</li>
		<li><a href="/{{conn_name}}/{{db_name}}">{{db_name}}</a>&nbsp;(database)</li>
		<li><a href="/{{conn_name}}/{{db_name}}/{{coll_name}}/view">{{coll_name}}</a>&nbsp;(collection)</li>
	</ol>
	<div class="col-lg-12 no-side-pad">
		<a href="/{{conn_name}}/{{db_name}}/{{coll_name}}/view" class="btn btn-warning btn-sm pull-left action_button">Back</a>
		<button class="btn btn-success btn-sm pull-right action_button" id="submit_json">Save document</button>
	</div>
	<div class="col-lg-12 no-side-pad">
		<div class="edit_json" id="json">{{coll_doc}}</div>
        <input type="hidden" id="edit_request_type" value="edit_doc">
	</div>
</div>