
<!-- documents -->
<div role="tabpanel" class="tab-pane active" id="documents">
	<div class="col-lg-10">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="/{{conn_name}}">{{conn_name}}</a>&nbsp;(connection)</li>
			<li><a href="/{{conn_name}}/{{db_name}}">{{db_name}}</a>&nbsp;(database)</li>
			<li><a href="/{{conn_name}}/{{db_name}}/{{coll_name}}/view">{{coll_name}}</a>&nbsp;(collection)</li>
		</ol>
	</div>
	<div class="col-lg-10">
		<a href="/{{conn_name}}/{{coll_name}}" class="btn btn-warning pull-left action_button">Back</a>
		<input class="form-control" type="text" name="user_id" id="user_id">
		<input class="form-control" type="text" name="user_id" id="user_id">
		<button class="btn btn-success pull-right action_button" id="submit_json">Add document</button>
	</div>
</div>
