<div class="col-lg-10">
	<div class="col-lg-6">
		<div class="col-lg-12">
			<h3 class="no-pad-top">Database maintenance</h3>
			<label for="new_db_name">Create new database</label>
			<div class="input-group">
				<input type="text" class="form-control input-sm" id="new_db_name" placeholder="database name">
				<span class="input-group-btn">
					<button class="btn btn-success btn-sm" id="db_create">Create</button>
				</span>
			</div></br></br>
			<label for="exampleInputEmail1">Delete database</label>
			<div class="input-group">
				<select class="form-control input-sm" id="del_db_name">
					{{#each db_list}}
						<option>{{this}}</option>
					{{/each}}
				</select>
				<span class="input-group-btn">
					<button class="btn btn-danger btn-sm" id="db_delete">Delete</button>
				</span>	
			</div>
		</div>
	</div>
	<div class="col-lg-6">
        <h3 class="no-pad-top">Connection statistics</h3>
        <div id="collection_chart"></div>
		<ul class="list-group">
			{{#each db_stats}}
                <li class="list-group-item"><i class="fa fa-database"></i>&nbsp;&nbsp; <a href="/{{../conn_name}}/{{@key}}">{{@key}}</a></li>
                {{#each this}}
                    <li class="list-group-item coll_indent">
                        <div class="row">
                            <div class='col-lg-4 col-sm-12'>
                                <i class="fa fa-table"></i>&nbsp;&nbsp; <a href="/{{../../conn_name}}/{{@../key}}/{{@key}}/view">{{@key}}</a>
                            </div>
                            <div class='col-lg-4 col-sm-6'>
                                <i class="fa fa-hdd-o"></i>&nbsp; Storage: {{formatBytes this.Storage}}
                            </div>
                            <div class='col-lg-4 col-sm-6'>
                                <i class="fa fa-file-text-o"></i>&nbsp; Documents: {{this.Documents}}
                            </div>
                        </div>
                    </li>   
                {{/each}}
            {{/each}}
		</ul>
	</div>
</div>