<div class="col-lg-10">
	<div class="col-lg-4">
		<div class="col-lg-12">
			<h3 class="no-pad-top">Collection maintenance</h3>
			<label for="new_coll_name">Create collection</label>
			<div class="input-group">
				<input type="text" class="form-control input-sm" id="new_coll_name" placeholder="collection Name">
				<span class="input-group-btn">
					<button class="btn btn-success btn-sm" id="coll_create">Create</button>
				</span>
			</div></br>
			<label for="del_coll_name">Delete collection</label>
			<div class="input-group">
				<select class="form-control input-sm" id="del_coll_name">
					{{#each coll_list}}
						<option>{{this}}</option>
					{{/each}}
				</select>
				<span class="input-group-btn">
					<button class="btn btn-danger btn-sm" id="coll_delete">Delete</button>
				</span>	
			</div>
			<hr>
			<h3>Create User</h3>
			<label for="new_username">Username</label>
			<input type="text" class="form-control input-sm" id="new_username" placeholder="Username"><br/>
			<label for="new_pasword">User Password</label>
			<input type="password" class="form-control input-sm" id="new_password" placeholder="Password"><br/>
			<label for="new_password_confirm">Confirm password</label>
			<input type="password" class="form-control input-sm" id="new_password_confirm" placeholder="Confirm"><br/>
            <label for="new_user_roles">Roles</label>
            <input type="text" class="form-control input-sm" id="new_user_roles" placeholder="Optional: comma separated user roles"><br/>
			</br>
			<button class="btn btn-success btn-sm pull-right" id="user_create">Create user</button>
			</br></br>
            {{#if conn_users}}
                <label for="del_user_name">Delete user</label>
                <div class="input-group">
                    <select class="form-control input-sm" id="del_user_name">
                        {{#each conn_users.users}}
                            <option>{{this.user}}</option>
                        {{/each}}
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-danger btn-sm" id="user_delete">Delete</button>
                    </span>	
                </div>
            {{/if}}
		</div>
	</div>
	<div class="col-lg-8">
		<h3 class="no-pad-top">Database statistics</h3>
        <div id="collection_chart"></div>
		<ul class="list-group">
			{{#each db_stats}}
                <li class="list-group-item"><i class="fa fa-database"></i>&nbsp;&nbsp; <a href="/{{../conn_name}}/{{@key}}">{{@key}}</a></li>
                {{#each this}}  
                    <li class="list-group-item coll_indent">
                        <div class="row">
                            <div class='col-lg-3 col-sm-12'>
                                <i class="fa fa-table"></i>&nbsp;&nbsp; <a href="/{{../../conn_name}}/{{@../key}}/{{@key}}/view">{{@key}}</a>
                            </div>
                            <div class='col-lg-3 col-sm-4'>
                                <i class="fa fa-hdd-o"></i>&nbsp; Storage: {{formatBytes this.Storage}}
                            </div>
                            <div class='col-lg-3 col-sm-4'>
                                <i class="fa fa-file-text-o"></i>&nbsp; Documents: {{this.Documents}}
                            </div>
                            <div class='col-lg-3 col-sm-4'>
                                <a href="#" id="{{@key}}" class="exportLink pull-right" data-toggle="modal" data-target="#exportModal"><i class="fa fa-download"></i>&nbsp; Export</a>
                            </div>
                        </div>
                    </li>
                {{/each}}
            {{/each}}
		</ul>
		<ul class="list-group">
			{{#each db_list.databases}}
				<li class="list-group-item"><strong>{{@key}}</strong>: {{this.name}}</li>
			{{/each}}
		</ul>
	</div>
</div>